In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
from PyEMD import EMD, EEMD
from src.features.EMD import get_EMD_features
import numpy as np

In [2]:
with open('data/Case_2_a_only_basic_DQ', 'rb') as f:
        ((data1_1_df, data1_2_df, data1_3_df),(mean1_df,std1_df)) = pickle.load(f)

data1_df = pd.concat([data1_1_df,data1_2_df,data1_3_df],axis=0)

data1_df = data1_df * std1_df + mean1_df

In [3]:
data1_df.head()

,ASMATN1_T,ASMDEP1_T,ASMDEP2_T,ASMDEP3_T,ASMDOFF_T,ASMECD1_T,ASMECD2_T,ASMMALM1_T,ASMPAM1_T,ASMPAM2_T,...,RSPD,RT_DEPTH_RETURNS_T,SPPAVG,TMOAVG,TQABAV,TRPT,VS__CTR___ACCURATE,VS__CTR___FINAL_ACCURATELY,VS,WOBAVG
TIME,,,,,,,,,,,,,,,,,,,,,
2020-03-22 01:00:01+02:00,0.06,171.74,471.65,129.47,181.52,1.140075,1.1521,0.88,13.51,53.15,...,0.0,151.15,-0.06,8.5116,2.220446e-16,0.0,16.6205,748.4858,-9.6541,0.0
2020-03-22 01:00:02+02:00,0.06,171.74,471.65,129.47,181.52,1.140075,1.1521,0.88,13.51,53.15,...,0.0,151.15,-0.06,8.5116,2.220446e-16,0.0,16.6205,748.4858,-9.6541,0.0
2020-03-22 01:00:03+02:00,0.06,171.74,471.65,129.47,181.52,1.140075,1.1521,0.88,13.51,53.15,...,0.0,151.15,-0.06,8.5116,2.220446e-16,0.0,16.6205,748.4858,-9.6541,0.0
2020-03-22 01:00:04+02:00,0.06,171.74,471.65,129.47,181.52,1.140075,1.1521,0.88,13.51,53.15,...,0.0,151.15,-0.06,8.5116,2.220446e-16,0.0,16.6205,748.4858,-9.6541,0.0
2020-03-22 01:00:05+02:00,0.06,171.74,471.65,129.47,181.52,1.140075,1.1521,0.88,13.51,53.15,...,0.0,151.15,-0.06,8.5116,2.220446e-16,0.0,16.6205,748.4858,-9.6541,0.0

In [4]:
(imin,_) = next((i, el) for i, el in enumerate(data1_df.HDEP.values) if el < 200)
data1_df = data1_df.iloc[imin:]

In [5]:
def chop_timeseries(data, n_samples):
    timeseries = []
    i = 0 
    while(i * n_samples < data.shape[0]):
        if((i + 1 * n_samples) > data.shape[0]):
            timeseries.append(data[i * n_samples:])
        else:
            timeseries.append(data[i * n_samples:(i+1) * n_samples])
        i += 1
    return timeseries

In [6]:
chopped_timeseries = chop_timeseries(data1_df.DEP[:250000].values, 1000)

In [7]:
EMD_features = get_EMD_features(chopped_timeseries, n_imfs=5)

/home/emil/Desktop/master/feature_extraction_drilling/src/features/EMD.py:21: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  features = [np.mean(data), np.std(data), skew(data), np.max(data), np.median(data), np.min(data), get_energy(data), get_entropy(data)]
/home/emil/Desktop/master/feature_extraction_drilling/src/features/EMD.py:21: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  features = [np.mean(data), np.std(data), skew(data), np.max(data), np.median(data), np.min(data), get_energy(data), get_entropy(data)]
/home/emil/Desktop/master/feature_extraction_drilling/src/features/EMD.py:21: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  features = [np.mean(data), np.std(data), skew(data), np.max(data), np.median(data), np.min(data), get_energy(data), get_entropy(data)]
/home/emil/Desktop/master/feature_extraction_drilling/src/features/EMD.py:21: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  features = [np.mean(data), np.std(data), skew(data), np.max(data), np.median(data), np.min(data), get_energy(data), get_entropy(data)]

In [8]:
EMD_features.shape

(250, 64)

In [9]:
EMD_features.head()

,IMF_0_mean,IMF_0_std,IMF_0_skew,IMF_0_max,IMF_0_median,IMF_0_min,IMF_0_energy,IMF_0_entropy,IMF_1_mean,IMF_1_std,...,IMF_6_energy,IMF_6_entropy,IMF_7_mean,IMF_7_std,IMF_7_skew,IMF_7_max,IMF_7_median,IMF_7_min,IMF_7_energy,IMF_7_entropy
0,-0.000618,0.023116,-0.530870,0.110680,-0.000033,-0.138815,0.000535,3.141978,0.000165,0.041698,...,0.000045,0.431267,9.896229,0.002521,-0.274168,9.899218,9.896635,9.892000,97.935362,-448965.843465
1,0.000029,0.017215,-0.238507,0.079208,0.000316,-0.080839,0.000296,2.043977,-0.000582,0.034414,...,97.761345,-447994.590974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000682,0.019324,0.486801,0.115465,0.000428,-0.095623,0.000374,2.430828,0.001097,0.036681,...,97.968473,-449150.872080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.001068,0.024373,0.084350,0.105800,0.000395,-0.104574,0.000595,3.610396,-0.001117,0.040549,...,97.951041,-449053.697772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000324,0.022294,0.090969,0.116571,0.000613,-0.121110,0.000497,3.117333,0.000158,0.038204,...,0.000210,1.727519,9.882896,0.001080,0.309652,9.884811,9.882716,9.881575,97.671632,-447493.439808

In [10]:
a = pd.Series([1, 2, 3])

In [11]:
b = pd.Series([4, 5, 6])

In [12]:
pd.concat([a, b], axis=1, ignore_index=True).T

   0  1  2
0  1  2  3
1  4  5  6